@import '../theme/vars';

.Nav {
  display: flex;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 3px solid #fff;
}

.Nav-logotype {
  font-size: 1.4rem;
  line-height: 129%;
  flex: 1 0;
  align-self: stretch;
  margin: 0;

  .low { vertical-align: bottom; }
  .high { vertical-align: top; }

  a {
    text-decoration: none;
    text-shadow: dualShadow(3, 6, 0.05rem);
    &:hover {
      text-shadow: dualShadow(3, 6, 0.05rem), dualShadow(9, 12, 0.05rem);
    }
  }
}

.Nav-logo {
  width: 5rem;
  height: 5rem;
  vertical-align: middle;
}

.Nav-links {
  flex: 0 1;
  align-self: center;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 1.4rem;

  a {
    text-decoration: none;
    &:hover {
      text-shadow: dualShadow(2, 4, 0.06rem);
    }
  }
}
