html {
  font-size: 120%; }

body {
  background: #39688f;
  color: #fff;
  font-family: 'Share Tech Mono', monospace;
  margin: 2rem;
  padding-bottom: 6rem;
  min-height: calc(100% - 10rem);
  position: relative;
  line-height: 1.4; }

#footer {
  text-align: right;
  font-size: 0.6rem;
  position: absolute;
  bottom: 0;
  right: 0; }
  #footer .credits p {
    margin: 0; }

a {
  color: inherit;
  text-decoration-style: dashed; }
  a:hover, a:focus, a:focus-within {
    text-decoration-style: solid; }

code,
kbd,
samp,
pre {
  font-family: inherit; }

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; }

button {
  color: inherit;
  font-size: inherit;
  background: none;
  border: none;
  outline: none;
  padding: 0.2rem 0.2rem;
  margin: 0.2rem 0.2rem;
  box-shadow: 0 0 0 0.1rem #39688f, 0 0 0 0.2rem #fff; }
  button:hover, button:focus {
    box-shadow: 0 0 0 0.1rem #39688f, 0 0 0 0.2rem #fff, 0 0 0 0.3rem #39688f, 0 0 0 0.4rem #fff; }

input[type=text] {
  color: inherit;
  font-size: inherit;
  background: none;
  border: none;
  border-bottom: 0.5px solid;
  outline: none;
  padding: 0.2rem 0;
  margin: 0.2rem 0; }
  input[type=text]:focus {
    border-bottom-width: 2px;
    margin-bottom: calc(0.2rem - 1.5px); }

.form-list {
  list-style: none;
  margin: 0;
  padding: 0; }

.form-list-item,
.form-list-row {
  margin: 1rem 0; }

.form-list-item-label {
  display: block;
  font-size: 0.8rem; }

.form-list-item-input {
  display: block;
  width: 100%; }

.form-list-combined {
  display: flex;
  align-items: flex-end;
  justify-content: space-between; }
