html { height: 100% }

body {
  background: #39688f;
  color: #fff;
  font-family: 'Share Tech Mono', monospace;
  margin: 2rem;
  padding-bottom: 6rem;
  min-height: calc(100% - 10rem);
  position: relative;
}

// TODO: Slim this down to just the elements that need it.
* {
  font-family: inherit;
}

a {
  color: inherit;
  text-decoration-style: dashed;

  &:hover, &:focus, &:focus-within {
    text-decoration-style: solid;
  }
}

#footer {
  text-align: right;
  font-size: 0.75rem;
  .credits p {
    margin: 0;
  }
  position: absolute;
  bottom: 0;
  right: 0;
}
