@import 'theme/vars';

html {
  font-size: 120%;
}

body {
  background: $background;
  color: $foreground;
  font-family: 'Share Tech Mono', monospace;
  margin: 2rem;
  padding-bottom: 6rem;
  min-height: calc(100% - 10rem);
  position: relative;
  line-height: 1.4;
}

@import 'theme/layout';
@import 'theme/typography';
@import 'theme/form';
